/**Utilities*/
/**Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**Layout*/
body {
  background-color: #0B666A;
  color: aliceblue;
}

.pie {
  position: fixed;
  background-color: aqua;
  width: 100%;
  height: 20px;
  bottom: 0;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  background: #0B666A;
}

.imagen {
  padding-right: 0px;
  padding-left: 0px;
}

.logo {
  width: 7%;
  height: 7%;
  min-width: 50px;
  min-height: 50px;
}

.logobar {
  display: flex;
  background-color: rgba(8, 24, 73, 0.6901960784);
  width: 100%;
}

.menubar {
  background-color: #051032;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
.menubar li {
  padding-right: 30px;
  padding-left: 30px;
}
.menubar li a:hover {
  background: #76c7b9;
}

.titulo, .titulo3, .titulo2 {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  background-color: #071952;
  text-align: center;
  border-radius: 30px;
}

.texto {
  text-align: center;
  max-width: 45%;
  background-color: #76c7b9;
  border-radius: 15px;
  padding: 15px;
}

.titulo2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.titulo3 {
  background-color: rgba(118, 199, 185, 0.5058823529);
}

.texto2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  max-height: 100%;
  background-color: #76c7b9;
  border-radius: 20px;
  padding: 15px;
}

.pregunta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 10px;
}

/**Components*/
.contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-pagos {
  max-width: 18rem;
  color: black;
  border-color: black;
  border-radius: 35px;
}

.card-header {
  background-color: rgba(7, 25, 82, 0.8941176471);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: aliceblue;
  text-align: center;
}

.card-body {
  background-color: rgba(118, 199, 185, 0.5058823529);
  border-radius: 0px 0px 33px 33px;
}

/**Mediaquery*/
@media (max-width: 1440px) {
  .informacion .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
}
@media (max-width: 1025px) {
  .informacion .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.0625rem;
  }
}
@media (max-width: 768px) {
  .informacion .texto {
    background-color: rgba(7, 25, 82, 0.8941176471);
  }
}
@media (max-width: 425px) {
  .informacion .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 0rem;
  }
  .informacion .texto {
    background-color: #76c7b9;
  }
}
@media (max-width: 375px) {
  .informacion .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informacion .texto {
    background-color: rgba(7, 25, 82, 0.8941176471);
  }
}
@media (max-width: 320px) {
  .informacion .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informacion .texto {
    background-color: #76c7b9;
  }
}
.contenedor {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.contenedor2 {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.novedades {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.requerimientos {
  color: aliceblue;
  background-color: rgb(66, 112, 113);
}

.requerimientos-minimos {
  color: black;
  background-color: #76c7b9;
}

.descarga {
  color: #0b2371;
  background-color: #76c7b9;
}

.problemas {
  background-color: rgba(21, 179, 187, 0.5921568627);
  color: aliceblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*# sourceMappingURL=style.css.map */
