/**Utilities*/
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/maps";
@import "./utilities/funciones";
/**Base*/
@import "./base/reset";
@import "./base/typo";
/**Layout*/
@import "./layout/body";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/imagenes";
@import "./layout/logo";
@import "./layout/navbar";
@import "./layout/textos";
/**Components*/
@import "./components/bootstrap";
@import "./components/cards";
/**Mediaquery*/
@import "./layout/media/media1440";
@import "./layout/media/media1025";
@import "./layout/media/media768";
@import "./layout/media/media425";
@import "./layout/media/media375";
@import "./layout/media/media320";

.contenedor{
    @include flex2 (.625rem, center, nowrap);
    margin-top: 10px;
}
.contenedor2{
    @include flex2 (.625rem, center, wrap);
    margin-top: 5px;
}
.novedades{
    @include flex2 (.625rem, center, nowrap);
    margin-top: 10px; 
}
.requerimientos{
    color: $color-principal; 
    background-color: $bg-9;
}
.requerimientos-minimos{
    color: $color-secundario; 
    background-color: $bg-5;
}
.descarga{
    color: $color-terciario; 
    background-color: $bg-5;
}
.problemas{
    background-color: $bg-x; 
    color: $color-principal; 
    font-family: $font-family-secundaria;
}