$bg-1: #0B666A;
$bg-2: #071952;
$bg-3: aqua;
$bg-4: #051032;
$bg-5: #76c7b9;
$bg-6: #081849b0; 
$bg-7: #071952e4;
$bg-8: #76c7b981;
$bg-9: rgb(66, 112, 113);
$bg-x: #15b3bb97; 
$color-principal: aliceblue;
$color-secundario: black;
$color-terciario: #0b2371;
$font-family-principal: Arial, Helvetica, sans-serif;
$font-family-secundaria: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;